@font-face {
    font-family: p5hatty;
    src: url(../fonts/p5hatty.ttf);
  }

* {
    box-sizing: border-box;
}

body {
	margin: 0;
    font-family: 'p5hatty';
}

img {
	max-width: 100%;
	height: auto;
}


.container {
    width: 95%;
    margin: 0 auto;
}


/* typography */

h1 {
	font-weight: 300;
	font-size: 2rem;
    margin-top: 0;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.title {
    font-size: 2.5rem;
}

@media (min-width:60rem) {
    .title {
        font-size: 10rem;
    }
}
/* header */

.logo {
    max-width: 120px;
    max-height: 120px;
}

header {
    position: absolute;
    width: 100%;
    margin-top: 1em;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav.header-menu a {
    font-weight: 900;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding: 0.5em;
}

nav a:hover,
nav a:focus {
	color: #ddd;
}

@media (min-width:60rem) {
	.logo {
		max-width: 180px;
        max-height: 180px;
        float: left;
	}

	nav.header-menu {
		padding-top: 2.5em;
        float: right;
    }
    
    nav.header-menu a {
        font-size: 2.5rem;
    }
}

/* First Section - Welcome */

.welcome {
    background-image: url(../img/city1.jpg);
    background-size: cover;
	background-position: center;
    padding: 8em;
    padding-top: 14em;
    text-align: center;
}

@media (min-width:60rem) {
    .welcome {
        padding: 4em;
        padding-top: 20em;
        height: 100vh;
    }
}

/* Second Section - Life */
.profile1 {
    max-width: 100%;
    height: 400px;
    width: 350px;
}

.life {
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 400px;
}

.life-textbox1, .life-textbox2, .life-textbox3 {
    background-color: black;
    outline: 2px solid red;
    outline-offset: -1.5em;
    padding: 2em;
    color: white;
    width: 50%;
    height: 25%;
    margin-left: 48%;
    position: relative;
    font-size: 1rem;
}

.life-textbox1 {
    top: -100%;
}

.life-textbox2 {
    top: -95%;
}

.life-textbox3 {
    top: -90%;
    padding: 4.5em;
}

.life-textbox1 h1, .life-textbox2 h1, .life-textbox3 h1 {
    background-color: black;
    color: red;
    font-size: 1.5rem;
    position: absolute;
    transform: translateX(-50%);
    top: .25em;
    left: 25%;
    padding: 0.2em;
}

ul.list2col {
    float: left; 
    width: 100%; 
    margin-top: -14%;
    margin-left: -25%;
}

ul.list2col li {
    float: left; 
    width: 50%;
}

@media (min-width:60rem) {
    
    .profile1 {
        max-width: 100%;
        height: auto;
        width: 80vh;
        margin-top: 7%;
    }

    .life {
        height: 100vh;
    }

    .life-textbox1, .life-textbox2, .life-textbox3 {
        font-size: 2rem;
    }
    
    .life-textbox1 {
        top: -90%;
    }
    
    .life-textbox2 {
        top: -85%;
    }
    
    .life-textbox3 {
        top: -80%;
        padding: 4.2em;
    }

    .life-textbox1 h1, .life-textbox2 h1, .life-textbox3 h1 {
        font-size: 3rem;
        left: 23%;
    }

    ul.list2col {
        margin-left: -15%;
    }
}

/* Third Section - Interests */

.profile2 {
    max-width: 100%;
    height: 350px;
    float: right;
    margin-top: -48%;
}

.interests {
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 400px;
}

.interests-textbox {
    background-color: black;
    outline: 2px solid red;
    outline-offset: -1em;
    padding-top: 1em;
    padding-left: 1em;
    color: white;
    width: 40%;
    height: 12em;
    position: relative;
    font-size: 1.5rem;
    top: 10%;
    left: 4%;
}

.interests-textbox h1 {
    background-color: black;
    color: red;
    font-size: 2rem;
    position: absolute;
    transform: translateX(-50%);
    top: .15em;
    left: 50%;
    padding: 0.2em;
}

ul.list1col li {
    margin-top: 15%;
}

@media (min-width:60rem) {

    .profile2 {
        max-width: 100%;
        height: auto;
        width: 85vh;
        margin-top: -41%;
    }

    .interests {
        height: 100vh;
    }

    .interests-textbox {
        outline: 6px solid red;
        outline-offset: -1.2em;
        font-size: 3rem;
        padding-top: 1.2em;
        padding-left: 2.5em;
        top: 15%;
    }
    
    .interests-textbox h1 {
        font-size: 4rem;
        top: .25em;
        left: 50%;
    }

    ul.list1col li {
        margin-top: 1.2em;
    }


}

/* Fourth Section - Future */

.future {
    background-image: url(../img/bg4.png);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 400px;
    text-align: center;
}

.future h1 {
    font-size: 4em;
    padding-top: 2.5em;
    
}
@media (min-width:60rem) {

    .future {
        height: 100vh;
    }

    .future h1 {
        font-size: 9em;
        padding-top: 2em;
    }

}

/* Fifth Section - Footer */

.footer {
    background-image: url(../img/bg5.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    text-align: center;
}

.footer h1 {
    font-size: 2.5rem;
    padding-top: 1em;
}

.footer-social {
    margin-top: -2.2em;
}

.footer-social a {
    padding: 2em;
}

.facebook, .twitter, .github, .linkedin {
    height: 50px;
    width: 50px;
}

@media (min-width:60rem) {
    .footer {
        height: 45vh;
    }

    .footer h1 {
        font-size: 4rem;
        padding-top: 1.2em;
    }

    .facebook, .twitter, .github, .linkedin {
        height: auto;
        width: 15vh;
    }

}
