@font-face {
    font-family: p5hatty;
    src: url(../fonts/p5hatty.ttf);
  }

* {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

html, body {
	margin: 0;
    font-family: 'p5hatty';
    overflow-x: hidden; 
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	margin: 0 auto;
}

/* typography */

h1 {
    font-weight: 300;
    margin-top: 0;
    background-color: black;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    box-shadow: 15px -15px #E00000;
    text-align: center;
    padding: 0.25em;
    font-size: 3rem;
}

p {
    color: white;
}

a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0.5rem;
}

/* Parallax */

.parallax--bg{
	transition: initial;
}

/* Transition */

.transition {
    background-image: url(../img/transition.png);
    background-color: #E00000;
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.from-left {
    transform: translateX(-100%);
}

.from-right {
    transform: translateX(100%);
}

.from-left, .from-right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
}

.from-left.appear, .from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.from-left.appearAfter, .from-right.appearAfter {
    transition-delay: 350ms;
    transform: translateX(0);
    opacity: 1;
}

/* Header */

.logo {
    max-width: 10rem;
    float: left;
}

header {
    position: absolute;
    width: 100%;
    margin-top: 1em;
}

nav.header-menu a {
    font-size: 1.7rem;
    padding: 0 0.5em;
    color: white;
    text-decoration: none;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

nav a:hover,
nav a:focus {
	color: #E00000;
}

.music-menu {
    display: none;
}

.side-menu {
    display: none;
}

@media (min-width:60rem) {
	.logo {
        max-width: 12rem;
        margin-left: -1em;
        float: left;
    }

	nav.header-menu {
        padding-top: 3em;
        float: left;
    }
    
    nav.header-menu a {
        font-size: 2.5rem;
    }

    .music {
        position: fixed;
        margin-top: 1.5em;
        background-image: url(../img/music1.png);
        background-size: cover;
        background-position: center;
        top:0;
        right:0;
        margin-right: 0.5em;
        height: 7em;
        width: 7em;
        cursor: pointer;
        z-index: 5;
    }

    .music:hover {
        background-image: url(../img/music2.png);
    }

    .music-menu ul {
        background: black;
        color: white;
        font-size: 2em;
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 5em;
        margin-right: 1em;
        box-shadow: 15px -15px #E00000;
        list-style: none;
        padding: 0;
        z-index: 2;
    }

    .music-menu li {
        padding: 0.5em;
    }

    .music-menu li:hover {
        background-color: white;
        color: #E00000;
    }

    .side-menu {
        display: initial;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    .side-menu li {
        display: block;
        margin-bottom: 6.5em;
        margin-right: 3.5em;
    }

    .side-menu a {
        background-color: white;
        box-shadow: 6px -6px #E00000;
        border: 6px solid black;
        padding: 0.5em 1em;
        cursor: pointer; 
    }

    .side-menu a.active, .side-menu a:hover {
        background-color: #E00000;
        box-shadow: 6px -6px white;
    }

    

}

/* First Section - Welcome */

.welcome {
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-position: center;
    padding: 20em 0;
    text-align: center;
    height: 100vh;
}

.title {
    font-size: 5rem;
    background-color: transparent;
    box-shadow: none;
}

@media (min-width:60rem) {
    .welcome {
        padding: 4em;
        padding-top: 18em;
    }

    .title {
        font-size: 10rem;
    }
}

/* Secont Section - Who am I? */

.whoami {
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: -15rem;
    height: 100vh;
}

.whoami h1 {
    width: 65%;
    float: left;
    margin-top: 2em;
    margin-left: 15%;
    transform: rotate(-5deg);
}

.whoami-textbox {
    background-color: black;
    width: 75%;
    float: left;
    margin-left: 15%;
    font-size: 2rem;
    padding: 0 1em;
    text-indent: 2rem;
    margin-right: 1rem;
    box-shadow: 15px -15px #E00000;
    transform: rotate(-5deg);
}

@media (min-width:60rem) {
    .whoami {
        background-position: 0;
    }

    .whoami h1 {
        float: right;
        margin-top: 1em;
        margin-right: 2.5em;
        width: 35%;
        font-size: 6rem;
        box-shadow: 20px -20px #E00000;
    }

    .whoami-textbox {
        float: right;
        margin-right: 4.5em;
        width: 40%;
        font-size: 2.5rem;
        box-shadow: 20px -20px #E00000;
        padding: 0 0 1em 1em;
    }
}

/* Third Section - Backstory */

.backstory {
    background-image: url(../img/bg3.png);
    background-size: cover;
    background-position: -50rem;
    height: 100vh;
}

.backstory h1 {
    width: 65%;
    float: left;
    margin-top: 2.5em;
    margin-left: 1.5em;
    transform: rotate(-5deg);
}

.backstory-textbox {
    background-color: black;
    width: 75%;
    float: left;
    margin-left: 1.5em;
    font-size: 2.3rem;
    padding: 0 0.25em;
    box-shadow: 15px -15px #E00000;
    transform: rotate(-5deg);
}

.backstory button {
    background-color: white;
    color: black;
    font-size: 2.5rem;
    font-family: 'p5hatty';
    margin-bottom: 1em;
    margin-left: 0.5em;
    width: 80%;
    cursor: pointer;
}

.backstory button:hover {
	background: #E00000;
	color: white;
}

@media (min-width:60rem) {
    .backstory {
        background-position: 0;
    }

    .backstory h1 {
        width: 35%;
        padding: 0.25em;
        margin-top: 1em;
        margin-left: 3em;
        font-size: 6rem;
        transform: rotate(5deg);
        box-shadow: 20px -20px #E00000;
    }
    
    .backstory-textbox {
        background-color: black;
        width: 35%;
        float: left;
        margin-top: -0.75em;
        margin-left: 4em;
        font-size: 2.5rem;
        padding: 0 0 1em 1em;
        margin-right: 1rem;
        box-shadow: 20px -20px #E00000;
        transform: rotate(5deg);
    }

}

/* Fourth Section - Skillset */

.skillset {
    background-image: url(../img/bg4.png);
    background-size: cover;
    background-position: -50rem;
    height: 100vh;
}

.skillset h1 {
    width: 65%;
    float: left;
    margin-top: 2em;
    margin-left: 15%;
    transform: rotate(-5deg);
}

.skillset-textbox {
    background-color: black;
    color: white;
    width: 75%;
    float: left;
    margin-left: 10%;
    font-size: 2.5rem;
    padding: 0 0.25em;
    margin-right: 1rem;
    box-shadow: 15px -15px #E00000;
    transform: rotate(-5deg);
}

ul.list2col {
    list-style: none;
}

@media (min-width:60rem) {
    .skillset {
        background-position: 0;
    }

    .skillset h1 {
        width: 35%;
        padding: 0.25em;
        margin-top: 1em;
        margin-left: 2em;
        margin-right: 10em;
        font-size: 6rem;
        transform: rotate(-5deg);
        box-shadow: 20px -20px #E00000;
    }
    
    .skillset-textbox {
        background-color: black;
        width: 35%;
        float: left;
        margin-top: -0.25em;
        margin-left: 3em;
        padding: 0 0 1em 0.5em;
        font-size: 3rem;
        margin-right: 1rem;
        box-shadow: 20px -20px #E00000;
        transform: rotate(-5deg);
    }

    ul.list2col {
        float: left; 
        width: 100%; 
    }
    
    ul.list2col li {
        float: left; 
        width: 50%;
    }

}

/* Fifth Section - Interest */

.interest {
    background-image: url(../img/bg5.png);
    background-size: cover;
    background-position: -10rem;
    height: 100vh;
}

.interest h1 {
    width: 65%;
    float: left;
    margin-top: 2em;
    margin-left: 15%;
    transform: rotate(-5deg);
}

.interest button {
    font-family: 'p5hatty';
    margin-top: 0;
    background-color: black;
    color: white;
    border: solid 0.3em #E00000;
    text-align: center;
    padding: 0.25em;
    margin: 0.5em 1.5em;
    font-size: 2.5rem;
    transform: rotate(-7deg);
    cursor: pointer;
}

.interest button:hover {
    background-color: white;
    color: #E00000;
    border: solid 0.3em black;
}

@media (min-width:60rem) {
    .interest {
        background-position: 0;
    }

    .interest h1 {
        width: 30%;
        float: right;
        padding: 0.25em;
        margin-top: 0.75em;
        margin-right: 2.5em;
        font-size: 6rem;
        transform: rotate(-5deg);
        box-shadow: 20px -20px #E00000;
    }

    .interest button {
        margin-top: -0.25em;
        margin-left: 15em;
        font-size: 3.5rem;
        transform: rotate(-7deg);
        width: 25%;
    }
}

/* Manga Section */

.close {
    z-index: 11;
    width: 20%;
    margin-left: 80%;
    padding: 1em;
    cursor: pointer;
}


.manga {
    background-image: url(../img/bg9.png);
    background-size: cover;
    background-position: center;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.5s;
}

.manga h1 {
    position: absolute;
    width: 100%;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.6);
    padding-bottom: 90vh;
    z-index: 1;
}

.manga-item-1, .manga-item-2, .manga-item-3 {
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 90%;
    height: 24vh;
    float: left;
    margin-top: 1em;
    margin-left: 5%;
    position: relative;
    z-index: 2;
    opacity: 0;
    transform: translateY(30%);
    transition: 1.5s;
    cursor: pointer;
}

.manga-item-1 {
    margin-top: 4em;
    background-image: url(../img/slime1.png);
}

.manga-item-2 {
    background-image: url(../img/solo1.jpg);
    transition-delay: 0.25s;
}

.manga-item-3 {
    background-image: url(../img/opm1.jpg);
    transition-delay: 0.5s;
}

.manga-name {
    font-size: 2em;
    background: rgba(0, 0, 0, 0.6);
    padding: 1em 0;
    margin-top: 30.5%;
    position: relative;
    z-index: 1;
}

@media (min-width:60rem) {
    .close {
        z-index: 10;
        width: 7%;
        margin: 0.5em 0.5em;
        position: absolute;
        top: 0;
        right: 0;
    }

    .manga h1 {
        position: absolute;
        padding-top: 0.3em;
        padding-bottom: 90vh;
        margin-top: 13vh;
        z-index: 1;
        font-size: 5em;
        transition: 2s;
        transition-delay: 2.5s;
    }

    .manga-item-1, .manga-item-2, .manga-item-3 {
        width: 32%;
        height: 60vh;
        margin-top: 15em;
        margin-left: 1em;
        z-index: 2;
    }
    
    .manga-name {
        font-size: 3em;
        background: rgba(0, 0, 0, 0.6);
        padding: 0.2em 0.5em 0.8em 0.5em;
        margin-top: 46.8vh;
        transform: translateY(150%);
        opacity: 0;
    }

    .manga-item-2 p, .manga-item-3 p {
        font-size: 4em;
    }

    .manga-item-1:hover .manga-name,
    .manga-item-2:hover .manga-name,
    .manga-item-3:hover .manga-name {
        transform: translateY(0%);
        opacity: 1;
    }
}

/* Slime, Solo, OPM Section */

.slime, .solo, .opm {
    background-size: cover;
    background-position: center;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 1s;
    transition-delay: 0.5s;
}

.slime {
    background-image: url(../img/slime2.jpg);
}

.solo {
    background-image: url(../img/solo2.png);
}

.opm {
    background-image: url(../img/opm2.jpg);
}

.slime h1, .solo h1, .opm h1 {
    position: absolute;
    width: 100%;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.6);
    padding-top: 0.5em;
    padding-bottom: 90vh;
    z-index: 1;
    font-size: 2.5rem;
    transform: translateY(150%);
    transition: 1.5s;
    transition-delay: 0.5s;
}

.slime p, .solo p, .opm p {
    opacity: 0;
    transform: translateY(30%);
    transition: 2s;
    transition-delay: 1.5s;
}

.slime p, .opm p {
    font-size: 2em;
    padding: 1em 0;
    margin: 4em 1em 1em 1.5em;
    position: relative;
    z-index: 1;
    text-indent: 2rem;
}

.solo p {
    font-size: 1.5em;
    padding: 1em 0;
    margin: 2.5em 1em 1em 1.5em;
    position: relative;
    z-index: 1;
    text-indent: 2rem;
}

@media (min-width:60rem) {
    .slime, .solo, .opm {
        transition: 2s;
        transition-delay: 2.5s;
    }

    .slime {
        background-image: url(../img/slime3.jpg);
    }

    .solo {
        background-image: url(../img/solo3.jpg);
    }

    .opm {
        background-image: url(../img/opm3.png);
    }

    .slime p, .solo p, .opm p{
        float: left;
        margin-top: 27vh;
        width: 50%;
        padding-top: 0;
        padding-left: 15%;
        font-size: 2.5em;
        transition-delay: 5s;
    }

    .solo p{
        font-size: 1.8em;
    }

    .slime-pic, .solo-pic, .opm-pic{
        margin-top: 27vh;
        float: left;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 70vh;
        width: 30%;
        position: relative;
        z-index: 1;
        transition: 2s;
        opacity: 0;
        transform: translateX(30%);
        transition-delay: 5s;
    }

    .slime-pic {
        background-image: url(../img/slime2.jpg);
    }
    
    .solo-pic {
        background-image: url(../img/solo2.png);
    }
    
    .opm-pic {
        background-image: url(../img/opm2.jpg);
    }

    .slime h1, .solo h1, .opm h1 {
        position: absolute;
        padding-top: 0.3em;
        padding-bottom: 90vh;
        margin-top: 13vh;
        z-index: 1;
        font-size: 5em;
        transition-delay: 4.5s;
    }

}

/* Sixth Section - Future */

.future {
    background-image: url(../img/bg6.png);
    background-size: cover;
    height: 70vh;
    text-align: center;
}

.future p{
    font-size: 3em;
}

.coming-soon {
    margin-top: 15em;
}

@media (min-width:60rem) {

    .future {
        height: 65vh;
    }

    .coming-soon {
        margin-top: 10em;
        transform: rotate(-7deg);
    }

    .future p {
        font-size: 6em;
        transform: rotate(-7deg);
        margin-top: -0.75em;
        margin-right: 1em;
        float: right;
    }
}

/* Footer - Contact */

footer {
    background-image: url(../img/bg7.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
    text-align: center;
}

footer h1 {
    font-size: 2.5rem;
    padding-top: 1em;
    background-color: transparent;
    box-shadow: none;

}

.footer-social {
    margin-top: -2em;
}

.footer-social a {
    margin: 0em 2.5em;
}

.facebook, .twitter, .github, .linkedin {
    height: 3em;
    width: 3em;
}

@media (min-width:60rem) {
    footer {
        height: 35vh;
    }

    footer h1 {
        font-size: 4em;
    }

    .footer-social {
        margin-top: -2em;
    }

    .facebook, .twitter, .github, .linkedin {
        height: 6em;
        width: 6em;
    }
}